body {
    opacity: 1;
    background-image: url(../img/global-bg.jpg);
    background-position: top center;
    background-size: cover;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    left: 1.5rem;
}

