* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 30px;
  transition: opacity 1s ease 0s;
  opacity: 1;
  background-image: url("../img/global-bg.jpg");
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  left: 1.5rem;
}

.content-container {
  display: flex;
}

.widget {
  padding: 25px 15px;
  margin-bottom: 15px;
  line-height: 2em;
  color: $color-gray;

  h3 {
    font-family: $font-header;
    font-weight: 300;
    letter-spacing: 1.5px;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px;
    margin: 0 0 15px 0;
  }
  @include block-form;
}
