.footer-top {
  display: flex;

  &__item {
    flex: 25%;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.footer-bottom {
  text-align: center;
  h3 {
    max-width: 300px;
    margin: 0 auto;
  }
}
