.aside-right {
  flex: 0 0 240px;
  margin-bottom: 15px;
  height: auto;
  order: 3;
  overflow: hidden;

  .widget {
    padding: 25px 0 0 0;

    h3 {
      margin: 0 15px 15px 15px;
    }
  }

  a {
    color: $color-light;
    text-decoration: none;
  }
}
