.aside-right {
  height: fit-content;
  order: 3;
  overflow: hidden;

  @include lg-min {
    flex: 0 0 240px;
    margin-bottom: 15px;
  }
  @include lg-md {
    width: 100%;
  }
  @include md-xs {
    width: 50%;
    padding-left: 7.5px;
  }

  .widget {
    @include lg-min {
      padding: 16px 15px 18px 15px;
      margin-bottom: 7px;
    }
    @include md-min {
      padding: 16px 15px 18px 15px;
      margin-bottom: 7.5px;
    }
    @include xs-min {
      padding: 16px 15px 15px 15px;
      margin-bottom: 7.5px;
    }
    @include xs {
      padding: 16px 15px 15px 15px;
      margin-bottom: 7.5px;
    }

    h3 {
      @include lg-min {
        padding: 0 0 7px 0;
        margin-bottom: 14px;
      }
      @include md-min {
        padding: 0 0 7px 0;
        margin-bottom: 14px;
      }
      @include sm-min {
        padding-bottom: 7px;
        margin-bottom: 16px;
      }
      @include xs {
        padding-bottom: 7px;
      }
    }

    h4 {
      @include md-min {
        margin: 0 0 6px 0;
      }
      @include sm-min {
        margin: -3px 0 6px 0;
      }
    }
  }

  a {
    color: $color-light;
    text-decoration: none;
  }
}
