.aside-right {
  flex: 0 0 240px;
  margin-bottom: 15px;
  height: auto;
  order: 3;

  .widget {
    padding: 25px 0 0 0;

    h3 {
      margin: 0 15px 15px 15px;
    }
  }

  a {
    color: $color-light;
    text-decoration: none;
  }

  .widget-news__item {
    &-wrapper {
      padding: 0 15px 5px 15px;
    }
    &-title {
      display: block;
      overflow: hidden;
      width: 100%;
      margin: 0 0 10px;
      transition: color 0.5s;
      white-space: nowrap;
      letter-spacing: 1px;
      text-overflow: ellipsis;
      font-weight: 300;
    }
    &-image {
      width: 75px;
      height: 75px;
      float: left;
      overflow: hidden;
      border-radius: 4px;
      margin: 0 10px 15px 0;

      img {
        transition: transform 0.5s;
      }
    }
    &-excerpt {
      overflow: hidden;
      width: calc(100% - 85px);
      max-height: 75px;
      transition: color 0.5s;
      color: $color-gray;
      font-size: 13px;
      line-height: 19px;
      //-webkit-box-orient: vertical;
      //-webkit-line-clamp: 4;
    }

    a:hover {
      .widget-news__item-wrapper {
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
      }
      .widget-news__item-excerpt {
        color: $color-light;
      }
      h4 {
        text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
        color: $color-accent;
        @include text-shadow;
      }
      img {
        transform: scale(1.2);
      }
    }
  }
}
